* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	line-height: 24px;
	overscroll-behavior: none;
  min-height: 700px;
  font-family: 'NittiGrotesk' !important;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 8px !important;
  }
  body {
    min-height: 400px;
  }
}


.webgl-canvas {
  display: none;
}

.progressbar {
  font-size: 1.5rem;
  margin: auto;
  margin-top: 5rem;
  background-color: white;
  font-family: 'NittiGrotesk-Bold';
}

.progressbar .bar {
  width: 0%;
  height: 2.5rem;
  
  background-color: #fdd205;
}

.click-buttons {
  display: none;
  z-index: 1;
}

.click-buttons .discover-more a {
  position: absolute;
  top: 25rem;
  right: 10%;
  font-size: 2.75rem;
  font-family: 'NittiGrotesk-Bold';
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 10px;
  color: #fff;
  background-color: #fdd205;
  border: 3px solid #fdd205;
}
.click-buttons .discover-more a:hover {
  color: #000;
  background-color: #fff;
}

.click-buttons .rotate a {
  position: absolute;
  display: flex;
  align-items: center;
  top: 20rem;
  left: 5%;
  font-family: 'NittiGrotesk-Bold';
  font-size: 1.9rem;
  color: #000;
  text-decoration: none;
}

.click-buttons .rotate a img {
  height: 150px;
  transition: all 0.3s;
}

.click-buttons .rotate a:hover img {
  height: 165px;
}

.click-buttons .button-bar {
  position: absolute;
  bottom: 6%;
  width: 500px;
  left: calc((100vw - 500px) / 2);
}
@media only screen and (max-width: 600px) {
  .click-buttons .button-bar {
    width: 80%;
    left: 10%;
  }
}

.click-buttons .button-bar hr {
  border-width: 0px;
  opacity: 1;
}

.click-buttons .button-bar .cur-spot {
  position: absolute;
  left: calc(50% - 20px);
  top: -3px;
  width: 40px;
  height: 40px;
  background-color: #fdd205;
  border-radius: 100%;
  border: 3px solid #fff;
}
@media only screen and (max-width: 600px) {
  .click-buttons .button-bar .cur-spot {
    top: -10px;
  }
}

.button-bar .launch-btn {
  position: absolute;
  margin: 0;
  padding: 0.5rem;
  top: 0px;
  font-size: 1.5rem;
  border: 3px solid #fdd205;
  text-decoration: none;
  color: #000;
  width: 15rem;
  line-height: 20px;
  transform: translateX(-50%) translateY(-100%);
}

.launch-btn:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  position: absolute;
  border-left-color: #fdd205;
  border-width: 14px;
  margin-top: -12px;
  margin-left: 5px;
  transition: all 0.3s;
}

.button-bar a:hover .launch-btn:after {
  margin-left: 10px;
}

.button-bar .prev {
  position: absolute;
  left: calc(15% + 10px);
  top: 7px;
  width: 20px;
  height: 20px;
  background-color: #aaa;
  border-radius: 100%;
}
@media only screen and (max-width: 600px) {
  .button-bar .prev {
    top: 0px;
  }
}

.button-bar .next {
  position: absolute;
  left: calc(85% - 10px);
  top: 7px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 100%;
  border: 2px solid #000;
}
@media only screen and (max-width: 600px) {
  .button-bar .next {
    top: 0px;
  }
}

.button-bar .prev .passive-text {
  position: absolute;
  color: #aaa;
  font-style: italic;
  transform: translateX(-50%);
}