body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 16px;
	line-height: 24px;
	overscroll-behavior: none;
  min-height: 700px;
  font-family: 'NittiGrotesk' !important;
}

.webgl-canvas {
  display: none;
}

.progressbar {
  font-size: 1.5rem;
  margin: auto;
  margin-top: 5rem;
  background-color: white;
}

.progressbar .bar {
  width: 0%;
  height: 2.5rem;
  
  background-color: #fdd205;
}