* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	line-height: 24px;
	overscroll-behavior: none;
  min-height: 700px;
  font-family: 'NittiGrotesk' !important;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 10px !important;
  }
  body {
    min-height: 1000px;
  }
}


.webgl-canvas {
  display: none;
  position: relative;
  z-index: -2;
}

.progressbar {
  font-size: 1.5rem;
  margin: auto;
  margin-top: 5rem;
  background-color: white;
  font-family: 'NittiGrotesk-Bold';
}

.progressbar .bar {
  width: 0%;
  height: 2.5rem;
  
  background-color: #fdd205;
}

.click-buttons {
  display: none;
  z-index: 1;
}

#discover-more {
  position: relative;
  z-index: 1;
}

.click-buttons .discover-more a {
  position: absolute;
  top: 25rem;
  right: 15%;
  font-size: 2.75rem;
  font-family: 'NittiGrotesk-Bold';
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 10px;
  color: #fff;
  background-color: #fdd205;
  border: 3px solid #fdd205;
}
.click-buttons .discover-more a:hover {
  color: #000;
  background-color: #fff;
}

@media only screen and (max-width: 1000px) {
  .click-buttons .discover-more a {
    top: 35rem;
    right: 10%;
  }
}

.click-buttons .rotate a {
  position: absolute;
  display: flex;
  align-items: center;
  top: 20rem;
  left: 5%;
  font-family: 'NittiGrotesk-Bold';
  font-size: 1.9rem;
  color: #000;
  text-decoration: none;
}

.click-buttons .rotate a img {
  height: 150px;
  transition: all 0.3s;
}

.click-buttons .rotate a:hover img {
  height: 165px;
}

.click-buttons .button-bar {
  position: absolute;
  bottom: 6%;
  width: 800px;
  left: calc((100vw - 800px) / 2);
}
@media only screen and (max-width: 1000px) {
  .click-buttons .button-bar {
    width: 80%;
    left: 10%;
  }
}

.click-buttons .button-bar hr {
  border-width: 0px;
  opacity: 1;
}

.button-bar .dial {
  position: absolute;
  left: 12.5%;
  top: 0px;
}

.button-bar .movement {
  position: absolute;
  left: 37.5%;
  top: 0px;
}

.button-bar .explosion {
  position: absolute;
  left: 62.5%;
  top: 0px;
}

.button-bar .organs {
  position: absolute;
  left: 87.5%;
  top: 0px;
}

.button-bar .current {
  display: block;
  position: absolute;
}

.button-bar .cur-spot {
  position: absolute;
  left: -10px;
  top: 7px;
  width: 20px;
  height: 20px;
  background-color: #fdd205;
  border-radius: 100%;
  border: 2px solid #fff;
}
@media only screen and (max-width: 1000px) {
  .button-bar .cur-spot {
    top: 1px;
  }
}

.current hr {
  width: 3px;
  height: 35px;
  position: absolute;
  top: -25px;
  left: -1px;
  margin: 0px; 
  background-color: #fdd205;
}

.current .title {
  position: absolute;
  border: 3px solid #fdd205;
  width: 10rem;
  font-size: 1.5rem;
  line-height: 20px;
  text-align: center;
  padding: 0.5rem;
  margin: 0px;
  top: -25px;
  transform: translateX(-50%) translateY(-100%);
}

.button-bar .left-bar {
  position: absolute;
  height: 3px;
  width: 12.5%;
  top: 0px;
  opacity: 1;
  background-color: #B2B3B4;
}

.button-bar .backward {
  display: block;
  position: absolute;
  cursor: pointer;
}

.backward .backward-spot {
  position: absolute;
  left: -10px;
  top: 7px;
  width: 20px;
  height: 20px;
  outline: 2px solid #fff;
  background-color: #B2B3B4;
  border-radius: 100%;
}
@media only screen and (max-width: 1000px) {
  .button-bar .backward-spot {
    top: 0px;
  }
}

.backward hr {
  position: absolute;
  width: 2px;
  height: 35px; 
  top: 20px;
  left: -1px;
  margin: 0px; 
  background-color: #B2B3B4;
}

.backward .title {
  position: absolute;
  font-size: 1.3rem;
  width: 10rem;
  color: #B2B3B4;
  line-height: 20px;
  text-align: center;
  padding: 0.5rem;
  margin: 0px;
  top: 55px;
  transform: translateX(-50%);
}

.button-bar .forward {
  display: block;
  position: absolute;
  cursor: pointer;
}

.forward .forward-spot {
  position: absolute;
  left: -10px;
  top: 7px;
  width: 20px;
  height: 20px;
  outline: 2px solid #fff;
  background-color: #fff;
  border-radius: 100%;
  border: 4px solid #000;
}

.forward hr {
  position: absolute;
  width: 2px;
  height: 35px; 
  top: 25px;
  left: -1px;
  margin: 0px; 
  background-color: #000;
}
@media only screen and (max-width: 1000px) {
  .button-bar .forward-spot {
    top: 0px;
  }
  .forward hr {
    top: 20px;
  }
}

.forward .title {
  position: absolute;
  font-size: 1.3rem;
  width: 10rem;
  color: #000;
  line-height: 20px;
  text-align: center;
  padding: 0.5rem;
  margin: 0px;
  top: 55px;
  transform: translateX(-50%);
}

.POI .POIs {
  position: absolute;
  background-color: #fdd205;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  border: 0.3rem solid #fff;
  cursor: pointer;
  transform: translateX(-50%) translateY(-50%);
  z-index: 5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.POIs .popup-tooltip {
  visibility: hidden;
  background-color: #fdd205;
  color: #fff;
  text-align: center;
  font-family: 'NittiGrotesk';
  font-size: 2rem;
  padding: 8px 0;
  position: absolute;
  z-index: 10;
}

.POIs .popup-tooltip::after {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
}
@media only screen and (max-width: 1000px) {
  .POIs .popup-tooltip::after {
    border-width: 5px;
  }
}

.POIs .popup-tooltip-up {
  line-height: 2rem;
  bottom: 140%;
  width: 20rem;
  left: 0.7rem;
  transform: translateX(-50%);
}
.POIs .popup-tooltip-up::after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: #fdd205 transparent transparent transparent;
}
@media only screen and (max-width: 1000px) {
  .POIs .popup-tooltip-up {
    left: 1rem;
  }
}

.POIs .popup-tooltip-down {
  line-height: 2rem;
  top: 140%;
  width: 20rem;
  left: 0.7rem;
  transform: translateX(-50%);
}
.POIs .popup-tooltip-down::after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-color: transparent transparent #fdd205 transparent;
}
@media only screen and (max-width: 1000px) {
  .POIs .popup-tooltip-down {
    left: 1rem;
  }
}

.POIs .popup-tooltip-left {
  line-height: 2rem;
  width: 20rem;
  right: 130%;
  top: 0.7rem;
  transform: translateY(-50%);
}
.POIs .popup-tooltip-left::after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-color: transparent transparent transparent #fdd205;
}
@media only screen and (max-width: 1000px) {
  .POIs .popup-tooltip-left {
    top: 1rem;
  }
}

.POIs .popup-tooltip-right {
  line-height: 2rem;
  width: 20rem;
  left: 130%;
  top: 0.7rem;
  transform: translateY(-50%);
}
.POIs .popup-tooltip-right::after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-color: transparent #fdd205 transparent transparent;
}
@media only screen and (max-width: 1000px) {
  .POIs .popup-tooltip-right {
    top: 1rem;
  }
}

.POIs .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.POI-click {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}